$colors: (
    light-blue: #00A2FF,
    light-purple: rgba(116, 92, 242,.97),
    light-grey: rgba(168, 168, 168, 0.28),
    money-green: #02B501,
    back-light-grey: rgb(255, 255, 255)
);

$font-family: 'Montserrat', sans-serif;

@function color($color-name) {
    @return map-get($colors, $color-name);
}

$max-phone: 414px;
$min-tablet: 415px;
$max-tablet: 1023px;
$lg-tablet: 810px;
$min-laptop: 1024px;
$max-laptop: 1599px;
$min-monitor: 1600px;





body, html {
    height: 100%;
    width: 100%;
}

body {
    font-family: $font-family!important;
    text-align: center; 
}


.nav-wrapper {
    .top-nav {
        padding: 10px 20px;
        background: #fff;
        /* Desktop */
        @media only screen 
        and (min-device-width: $min-laptop) {
            padding: 10px 10%;
            
        }
       

        .sticky {
            position: fixed;
            top:0;
            width: 100%;
            
        }

        .nav-button {
            height: 50px;
            width: 50px;
            float: right;
            background: none;
            border: none;
            color: color(light-purple);

            /* Desktop */
            @media only screen 
            and (min-device-width: $min-laptop) {
                display: none;       
            }
        }

        .desktop-nav {
            display: none;
            width: 40%;
            float: right;
            padding-top: 15px;
            

            /* Desktop */
            @media only screen 
            and (min-device-width: $min-laptop) {
                display: grid;
                grid-template-columns: repeat(4, 1fr);  
                color: color(light-purple);    
            }

            a {
                color: color(light-purple);
                text-decoration: none;
            }
            
            a:hover {
                color: rgb(134, 134, 134)
            }
        }
        
        .nav-button:focus {
            outline: none;
        }

        .logo {
            height: 50px;
            width: 50px;
            float: left;

         }
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 10000;
        top: 0;
        right: 0;
        background-color: rgb(255, 255, 255);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 5px;
        text-align: left;
        box-shadow: -5px 0px 10px color(light-grey);
    }
    
    .sidenav a {
        padding: 8px 20px 8px 8px;
        text-decoration: none;
        color: color(light-purple);
        display: block;
        transition: 0.3s;
    }
    
    .sidenav a:hover {
        color: #f1f1f1;
    }
    
    .sidenav .closebtn {
        position: relative;
        top: 0;
        font-size: 36px;
        margin-left: 50px;
        color: black;
        text-align: right;
    }

    .sidenav-link {
        margin-left: 20px;
        font-size: 16px;
    }  
}







.main {
    padding-top: 7em;
    // display: grid;
    // grid-template-columns: 50% auto;
}

 .main-head {
     padding-left: 20px;
     padding-right: 20px;
 }

 .main-head .headline {
     font-size: 2em;
     font-weight: bold;
 }

 .main-head .subheadline {
    font-size: 16px;
   
}

 .avatar {
     display: block;
     height: 200px;
     width: 200px;
     margin: 20px auto 30px auto;

  
    /* Desktop */
    @media only screen and (min-device-width: $min-laptop) {
        height: 250px;
        width: 250px;
        margin: 20px auto 30px auto;
    }
    
    /* Monitor */
    @media only screen and (min-device-width: $min-monitor) {
        height: 250px;
        width: 250px;
    }
    
 }

 .learn-more { 
    background-color: color('light-blue');
    color: #ffffff;
    padding: auto 0px auto 0px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px; 
    border: 0px;
    border-radius: 10px;

    /* iPad */
    @media only screen 
    and (min-device-width: $min-tablet) {
        
        
    }

    /* Lg Tabel */
    @media only screen 
    and (min-device-width: $lg-tablet) {  

    }
    
    /* Desktop */
    @media only screen 
    and (min-device-width: $min-laptop) {
        height: 60px; 
        width: 200px;
        font-size: 20px;
         
    }
    /* Monitor */
    @media only screen 
    and (min-device-width: $min-monitor) {
        
    }
}

.right-arrow {
    align-content: center;
    font-size: 16px;
}

.desktop-drawing {
    margin-top: 5em;
    margin-bottom: 0;
    /* iPad */
    @media only screen 
    and (min-device-width: $min-tablet) 
    and (max-device-width: $max-tablet) {
        height: 80%;
        width: 80%;
        margin-top: 10em;
        
    }

    /* Lg Tabel */
    @media only screen 
    and (min-device-width: $lg-tablet) {
        height: 70%;
        width: 70%;
        
    }
    
    /* Desktop */
    @media only screen 
    and (min-device-width: $min-laptop) {
        height: 200px;
        width: 587px; 
        margin-top: 12.5em;
    }
    // /* Monitor */
    // @media only screen 
    // and (min-device-width: $min-monitor) {
    //     height: 55%;
    //     width: 55%;
        
    // }
}

#welcome-div {
    padding: 0px;
}

.welcome {
    color: #fff;
    background-color: color(light-purple);
    padding: 50px 20px 15em 20px;
    h3 {
        font-weight: bold;
        font-size: 30px;
        margin-top: 0px;     
    }

    p {
        font-size: 16px;
        line-height: 33px;
        padding-top: 20px;
        /* iPad */
        @media only screen 
        and (min-device-width: $min-tablet) 
        and (max-device-width: $max-tablet) 
        and (-webkit-min-device-pixel-ratio: 1) {
           padding-left: 5%;       
           padding-right: 5%;       
        }
        /* Laptop & above */
        @media only screen 
        and (min-device-width: $min-laptop)  
        and (-webkit-min-device-pixel-ratio: 1) {
           padding-left: 10%;       
           padding-right: 10%;       
        }

    }
}

.technical-skills {
    background-color: color('back-light-grey');
    position: relative;
    top: -120px;
    width: 90%;
    left: 5%;
    padding-top: 30px;
    border-radius: 20px;
    margin-bottom: -220px;
    padding-bottom: 6em;
    padding-left: 5%;
    padding-right: 5%;
    

    @media (min-device-width: $min-tablet) {
        padding-left: 10%;
        padding-right: 10%;         
    }
    @media (min-device-width: $min-laptop) {
        padding-left: 100px;
        padding-right: 100px;         
    }



    .skill-image {
        height: 40%;
        width: 40%;

         /* iPad */
        @media only screen 
        and (min-device-width: $min-tablet) 
        and (-webkit-min-device-pixel-ratio: 1) {
            height: 200px;
            width: 200px;
            
        }
    }

    h1 {
        font-size: 28px;
        font-weight: bold;
        color: color(light-purple);
    }
    
    hr {
        border-bottom: 2px solid color(light-grey);
        margin-top: 0px;
    }

    h3 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 30px;
    }

    .progress {
        background-color: rgba(172,172,172,.24);
        border-radius:0px 5px 5px 0px;
        box-shadow:0 1px 1px rgba(0,0,0,.15) inset;
        height:20px;
        overflow:hidden;
        margin: 0px 7px 5px 7px;
    }

    p {
        margin-bottom: 10px;
    }
        
    .bar {
        background-color: color(light-blue);
        box-shadow:0 -1px 1px rgba(0,0,0,.15) inset;
        color:#fff;
        float:left;
        height:100%;
        position:relative;
        text-align:left;
    }


    .skill {
        vertical-align: middle;
        margin-top: 5px;
        
    
        
    }
    .skill-set {
        align-content: left;

         /* Laptop 2 per line */
         @media only screen 
         and (min-device-width: $min-tablet) 
         and (max-device-width: $max-tablet) 
         and (-webkit-min-device-pixel-ratio: 1) {
            display: grid;
            grid-template-columns: 1fr;
           
         }
         /* Laptop 2 per line */
         @media only screen 
         and (min-device-width: $min-laptop) 
         and (max-device-width: $max-laptop) 
         and (-webkit-min-device-pixel-ratio: 1) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 5em;
            
         }
         /* monitor 3 per line */
         @media only screen 
         and (min-device-width: $min-monitor) 
         and (-webkit-min-device-pixel-ratio: 1) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 5em;
         }

      

    }

    .skill-area {
        margin-top: 6em;
        transition-property: all;
        transition: .5s;
        align-content: center;
    }

    .skill-name {
        word-wrap: normal;
        font-size: 12px;
        color: #585858; 
        font-weight: bold;
        text-align: left;
        margin-left: 7px;
    }

    .skill-percent {
        float: right;
        padding-right: 5px;
        font-weight: bold;
        padding-top: 3px;
        font-size: 10px;
    }    

    .expand-icon {
        font-size: 50px;
        color: color(money-green);
        opacity: .7;
        transform: rotate(0deg);
        transition: transform .2s linear;
    }

    .expand-rotate {
        transform: rotate(180deg);
        transition: transform .2s linear;
    }

    .expand-label {
        font-size: 10px;
        margin-top: -20px;
        padding-bottom: 0;
        font-style: italic;

        animation: label-slide .3;

        @keyframes label-slide {
            0% {
                opacity: 0;
                transform: translateY(-20px);
             }
             100% {
                opacity: 1;
                transform: translateY(0);
             } 
        }
    }
}

.experience-intro {
    color: #fff;
    background-color: color(light-purple);
    padding: 12em 20px 13em 20px;
      
    h3 {
        font-weight: bold;
        font-size: 30px;
        margin-top: 0px;    
    }

    p {
        font-size: 16px;
        line-height: 33px;

        /* iPad */
        @media only screen 
        and (min-device-width: $min-tablet) 
        and (max-device-width: $max-tablet) 
        and (-webkit-min-device-pixel-ratio: 1) {
            padding-left: 5%;       
            padding-right: 5%;       
        }
        /* Laptop & above */
        @media only screen 
        and (min-device-width: $min-laptop)  
        and (-webkit-min-device-pixel-ratio: 1) {
           padding-left: 10%;
            padding-right: 10%;      
        }
    }
}

.post-experience {
    margin-top: -90px;
}


.professional-experience {
    
    //background-image: linear-gradient(to bottom, #8c8c8c, #a8a8a8, #c4c4c4, #e1e1e1, #ffffff);
    background-color: color('back-light-grey');
    position: relative;
    top: -120px;
    width: 90%;
    left: 5%;
    padding-top: 30px;
    border-radius: 20px;
    margin-bottom: 0;
    padding-left: 5%;
    padding-right: 5%;
    

    @media (min-device-width: $min-tablet) {
        padding-left: 10%;
        padding-right: 10%;         
    }
    @media (min-device-width: $min-laptop) {
        padding-left: 100px;
        padding-right: 100px;         
    }

   

    h1 {
        font-size: 28px;
        font-weight: bold;
        color: color(light-purple);
    }
    
    hr {
        border-bottom: 2px solid color(light-grey);
        margin-top: 0px;
    }

    .experience-list {
        /* Laptop 2 per line */
        @media only screen 
        and (min-device-width: $min-laptop) 
        {
            display: grid;
            grid-template-columns: repeat(2, minmax(250px, 1fr) );
            grid-column-gap: 5em;
        }
        padding-bottom: 50px;
        padding-top: 50px;
    

        .experience-instance {
            margin-top: 2em;
            margin-bottom: 2em;
            padding: 0px 0px 10px 0px;


            .experience-logo {
                height: 40%;
                width: 40%;

                /* iPad */
                @media only screen 
                and (min-device-width: $min-tablet) {
                    height: 200px;
                    width: 200px;
            
                } 
            }
        
            .experience-background {
                max-height: 100%;
                max-width: 100%;
            }
            
            p {
                margin-bottom: 10px;
                color: #5e5e5e;
            }
        
            #name {
                font-weight: bold;
                font-size: 20px;
            }
        
            #role {
                font-style: italic;
            }
        
            #description {
                margin-top: 40px;
                margin-bottom: 20px;
        
            }
        
            .see-more-details {
                margin-top: 10px;
                font-weight: bold;
                background-color: color(light-purple);
                color: #fff;
            }
        }
    }
    
}

.contact-form {
    background: color(light-grey);
    padding: 70px 20px 70px 20px;   
    margin-top: 0px;

    @media (min-device-width: $min-tablet) {
        padding-left: 15%;
        padding-right: 15%;         
    }
    @media (min-device-width: $min-laptop) {
        padding-left: 25%;
        padding-right: 25%;  
        padding-bottom: 10%;       
    }
    
    .input-fields {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 2em;

        .user-fields {
            display: grid;
            grid-template-columns: 1fr;

             @media (min-device-width: $min-laptop) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-column-gap: 15px;   
             }
        }
    }
   


    h1 {
        font-size: 38px;
        font-weight: bold;
        color: color(light-purple);
        margin-bottom: 20px;
    }

    h4 {
        font-weight: 600;
        margin-bottom: 30px;
    }

    input {
        margin-top: 15px;
        border: color(light-grey);
        padding: 10px 10px;
        border-radius: 5px;
        @media (min-device-width: $min-laptop) {
        }
    }

    input:focus, textarea:focus {
        box-shadow: 0 0 5px color(light-blue);

        outline: 2px color(light-blue);
    }
    
    textarea {
        margin-top: 15px;
        border: color(light-grey);
        padding: 10px 10px;
        resize: none;
        border-radius: 5px;
    }

    button {   
        color: white;
        background: color(money-green);
        font-size: 24px;
        font-weight: 600;
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;

        @media (min-device-width: $min-laptop) {
            width: 40%;   
            float: right;
         }
    }
}

footer {
    background: color(light-purple);
    padding-top: 8em;
    
    .social-icons {
        width: 250px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 0 auto;
        grid-column-gap: 5px;
        margin-bottom: 8em;

        .social-icon {
            height: 90%;
            width: 90%;
            align-items: middle;
        }
    }

    h5 {
        color: white;
        padding-bottom: 1em;
        margin-bottom: 0;
        font-size: 11px;
    }
}






