$colors: (
    light-blue: #00A2FF,
    light-purple: rgba(116, 92, 242,.97),
    light-grey: rgba(168, 168, 168, 0.28),
    money-green: #02B501,
    back-light-grey: rgb(255, 255, 255)
);

$font-family: 'Montserrat', sans-serif;

@function color($color-name) {
    @return map-get($colors, $color-name);
}




body, html {
    height: 100%;
    width: 100%;
}

body {
    font-family: $font-family!important;
    text-align: center; 
}


.nav-wrapper {
    .top-nav {
        padding: 10px 20px;
        background: #fff;
       

        .sticky {
            position: fixed;
            top:0;
            width: 100%;
            
        }

        .nav-button {
            height: 50px;
            width: 50px;
            float: right;
            background: none;
            border: none;
            color: color(light-purple);
        }
        
        .nav-button:focus {
            outline: none;
        }

        .logo {
            height: 50px;
            width: 50px;
            float: left;

         }
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 10000;
        top: 0;
        right: 0;
        background-color: rgb(255, 255, 255);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 5px;
        text-align: left;
        box-shadow: -5px 0px 10px color(light-grey);
    }
    
    .sidenav a {
        padding: 8px 20px 8px 8px;
        text-decoration: none;
        color: color(light-purple);
        display: block;
        transition: 0.3s;
    }
    
    .sidenav a:hover {
        color: #f1f1f1;
    }
    
    .sidenav .closebtn {
        position: relative;
        top: 0;
        font-size: 36px;
        margin-left: 50px;
        color: black;
        text-align: right;
    }

    .sidenav-link {
        margin-left: 20px;
        font-size: 16px;
    }  
}







.main {
    padding-top: 7em;
    // display: grid;
    // grid-template-columns: 50% auto;
}

 .main-head {
     padding-left: 20px;
     padding-right: 20px;
 }

 .main-head .headline {
     font-size: 2em;
     font-weight: bold;
 }

 .main-head .subheadline {
    font-size: 16px;
   
}

 .avatar {
     display: block;
     max-height: 50%;
     width: 50%;
     margin: 0px auto 30px auto;

     /* iPad */
    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1366px) 
    and (-webkit-min-device-pixel-ratio: 1) {
        height: 30%;
        width: 30%;
    }
 }

 .learn-more { 
    background-color: color('light-blue');
    color: #ffffff;
    padding: auto 0px auto 0px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px; 
    border: 0px;
    border-radius: 10px;
}

.right-arrow {
    align-content: center;
    font-size: 16px;
}

.desktop-drawing {
    margin-top: 5em;
    margin-bottom: 0;
    /* iPad Pro Portrait */
    @media only screen 
    and (min-device-width: 1024px) 
    and (max-device-width: 1366px) 
    and (-webkit-min-device-pixel-ratio: 1) {
       align-content: center;
       width: 60%;
       height: 60%;
    }
}

#welcome-div {
    padding: 0px;
}

.welcome {
    color: #fff;
    background-color: color(light-purple);
    padding: 50px 20px 15em 20px;
    h3 {
        font-weight: bold;
        font-size: 30px;
        margin-top: 0px;     
    }

    p {
        font-size: 16px;
        line-height: 33px;
    }
}

.technical-skills {
    background-color: color('back-light-grey');
    position: relative;
    top: -120px;
    width: 90%;
    left: 5%;
    padding-top: 30px;
    border-radius: 20px;
    margin-bottom: -220px;
    padding-bottom: 6em;



    .skill-image {
        height: 40%;
        width: 40%;
    }

    h1 {
        font-size: 28px;
        font-weight: bold;
        color: color(light-purple);
    }
    
    hr {
        border-bottom: 2px solid color(light-grey);
        width: 80%;
        margin-top: 0px;
    }

    h3 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 30px;
    }

    .progress {
        background-color: rgba(172,172,172,.24);
        border-radius:0px 5px 5px 0px;
        box-shadow:0 1px 1px rgba(0,0,0,.15) inset;
        height:20px;
        overflow:hidden;
        margin: 0px 7px 5px 7px;
    }

    p {
        margin-bottom: 10px;
    }
        
    .bar {
        background-color: color(light-blue);
        box-shadow:0 -1px 1px rgba(0,0,0,.15) inset;
        color:#fff;
        float:left;
        height:100%;
        position:relative;
        text-align:left;
    }


    .skill {
        vertical-align: middle;
        margin-top: 5px;
        
    
        
    }

    .skill-area {
        margin-top: 6em;
        transition-property: all;
        transition: .5s;
        /* iPad  Portrait */
        @media only screen 
        and (min-device-width: 768px) 
        and (max-device-width: 1366px) 
        and (-webkit-min-device-pixel-ratio: 1) {
            padding-left: 20%;
            padding-right: 20%;
        }
    }

    .skill-name {
        word-wrap: normal;
        font-size: 12px;
        color: #585858; 
        font-weight: bold;
        text-align: left;
        margin-left: 7px;
    }

    .skill-percent {
        float: right;
        padding-right: 5px;
        font-weight: bold;
        padding-top: 3px;
        font-size: 10px;
    }    

    .expand-icon {
        font-size: 50px;
        color: color(money-green);
        opacity: .7;
        transform: rotate(0deg);
        transition: transform .2s linear;
    }

    .expand-rotate {
        transform: rotate(180deg);
        transition: transform .2s linear;
    }

    .expand-label {
        font-size: 10px;
        margin-top: -20px;
        padding-bottom: 0;
        font-style: italic;

        animation: label-slide .3 linear .2;

        @keyframes label-slide {
            0% {
                opacity: 0;
                transform: translateY(-20px);
             }
             100% {
                opacity: 1;
                transform: translateY(0);
             } 
        }
    }
}

.experience-intro {
    color: #fff;
    background-color: color(light-purple);
    padding: 12em 20px 13em 20px;
      
    h3 {
        font-weight: bold;
        font-size: 30px;
        margin-top: 0px;    
    }

    p {
        font-size: 16px;
        line-height: 33px;
    }
}

.post-experience {
    margin-top: -90px;
}


.professional-experience {
    
    //background-image: linear-gradient(to bottom, #8c8c8c, #a8a8a8, #c4c4c4, #e1e1e1, #ffffff);
    background-color: color('back-light-grey');
    position: relative;
    top: -120px;
    width: 90%;
    left: 5%;
    padding-top: 30px;
    border-radius: 20px;
    margin-bottom: 0;

    h1 {
        font-size: 28px;
        font-weight: bold;
        color: color(light-purple);
    }
    
    hr {
        border-bottom: 2px solid color(light-grey);
        width: 80%;
        margin-top: 0px;
    }

    .experience-instance {
        margin-top: 2em;
        margin-bottom: 5em;
        padding: 0px 0px 10px 0px;
    }

    .experience-logo {
        max-height: 60%;
        max-width: 60%;
        margin-bottom: 3em;
        
        /* iPad */
        @media only screen 
        and (min-device-width: 768px) 
        and (max-device-width: 1366px) 
        and (-webkit-min-device-pixel-ratio: 1) {
            height: 30%;
            width: 30%;
        }

    }

    .experience-background {
        max-height: 100%;
        max-width: 100%;
     }
     
     p {
        //  font-size: 18px;
         //text-align: left;
         margin: 0% 3%;
         margin-bottom: 10px;
         color: #5e5e5e;

         /* iPad  Portrait */
        @media only screen 
        and (min-device-width: 768px) 
        and (max-device-width: 1366px) 
        and (-webkit-min-device-pixel-ratio: 1) {
            padding-left: 10%;
            padding-right: 10%;
        }
     }

     #name {
        font-weight: bold;
        font-size: 20px;
     }

     #role {
        font-style: italic;
     }

     #description {
         margin-top: 40px;
         margin-bottom: 20px;

     }

     .see-more-details {
         margin-top: 10px;
         font-weight: bold;
         background-color: color(light-purple);
         color: #fff;
     }
}

.contact-form {
    background: color(light-grey);
    padding: 50px 20px;
    display: grid;
    grid-template-columns: auto;
    padding-bottom: 6em;
    margin-top: 0px;
   
    /* iPad  Portrait */
   @media only screen 
   and (min-device-width: 768px) 
   and (max-device-width: 1366px) 
   and (-webkit-min-device-pixel-ratio: 1) {
       padding-left: 10%;
       padding-right: 10%;
   }

    h1 {
        font-size: 38px;
        font-weight: bold;
        color: color(light-purple);
        margin-bottom: 20px;
    }

    h4 {
        font-weight: 600;
        margin-bottom: 30px;
    }

    input {
        margin-top: 15px;
        border: color(light-grey);
        padding: 10px 10px;
        border-radius: 5px;
    }

    input:focus, textarea:focus {
        box-shadow: 0 0 5px color(light-blue);

        outline: 2px color(light-blue);
    }
    
    textarea {
        margin-top: 15px;
        border: color(light-grey);
        padding: 10px 10px;
        resize: none;
        border-radius: 5px;
    }

    button {
        margin-top: 50px;
        color: white;
        background: color(money-green);
        font-size: 24px;
        font-weight: 600;
        padding: 10px 0;
    }
}

footer {
    background: color(light-purple);
    padding-top: 8em;
    
    .social-icons {
        width: 250px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 0 auto;
        grid-column-gap: 5px;
        margin-bottom: 8em;

        .social-icon {
            height: 90%;
            width: 90%;
            align-items: middle;
        }
    }

    h5 {
        color: white;
        padding-bottom: 1em;
        margin-bottom: 0;
        font-size: 11px;
    }
}






