<!DOCTYPE html>
<html lang="en" data-ng-app="portfolioApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

</head>

<body>
    <div class="wrapper">
        <div class="nav-wrapper">
            <div id='top-nav' class='top-nav navbar navbar-default  navbar-fixed-top' data-ng-controller='menu_toggle'>
                <a href="index.html">
                    <img class='logo' src='images/logo.svg'>
                </a>
                <a href="javascript:void(0)" onclick="openNav()">
                    <img src="images/side-bar-menu.svg" alt="" class="nav-button">
                </a>
            </div>
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a class='sidenav-link' href="#">About</a>
                <a class='sidenav-link' href="#">Services</a>
                <a class='sidenav-link' href="#">Clients</a>
                <a class='sidenav-link' href="#">Contact</a>
            </div>
        </div>
        <div class="main">
            <!-- Main page content -->
            <div class="content">
                <div class='main-head'>
                    <h1 class='headline'>Full Stack Developer, Designer & Instructor</h1>
                    <h4 class='subheadline'>I have a passion for coding and helping others realize their full potential.</h4>
                    <img src="images/avatar.svg" alt="" class="avatar">
                    <button class='learn-more'>Learn More</button>
                    <img src="images/desktop.svg" alt="" class="desktop-drawing">
                </div>
                <!-- Welcome paragraph -->
                <div class="welcome">
                    <h3>Hi, I'm Joe. Thanks for visiting!</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, alias id dicta, nulla iste optio et pariatur
                        odit voluptatibus aliquam laudantium voluptates magni vitae aspernatur magnam? Amet, quae molestiae.
                        Sint harum fugiat reiciendis non, eius voluptate! Omnis incidunt hic dolorum repellendus. A rerum
                        aperiam aliquid laborum quos blanditiis atque voluptate!</p>
                </div>
                <!-- Technical Skills section with progress bars -->
                <div class="technical-skills" data-ng-controller='SkillsController'>
                    <h1>Technical Skills</h1>
                    <hr class='ts-divider'>
                    <div class='skill-area' ng-repeat='skillType in skillTypes'>
                        <img ng-src="images/{{skillType.id}}.svg" alt="" class="skill-image">
                        <h3>{{ skillType.name }}</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam ad soluta vitae ab labore obcaecati
                            officia accusantium facere recusandae iure pariatur velit ipsa itaque voluptates quidem quibusdam,
                            sequi maxime quos.</p>
                        <i class="material-icons expand-icon" ng-click='show_skills=(show_skills ? false : true)' id='expand'>expand_more</i>
                        <div ng-repeat="skill in skills | filter: id=skillType.id" ng-show="show_skills" class='skill-list' id='skill-list'>
                            <div class="skill">
                                <div class=skill-name valign='center'> {{ skill.name }}</div>
                                <div class="progress">
                                    <div class="bar" ng-style="{width:({{ skill.percent }}) + '%'}"></div>
                                    <span class="skill-percent">{{ skill.percent }}%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="experience-intro">
                    <h3>Hi, I'm Joe. Thanks for visiting!</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, alias id dicta, nulla iste optio et pariatur
                        odit voluptatibus aliquam laudantium voluptates magni vitae aspernatur magnam? Amet, quae molestiae.
                        Sint harum fugiat reiciendis non, eius voluptate! Omnis incidunt hic dolorum repellendus. A rerum
                        aperiam aliquid laborum quos blanditiis atque voluptate!</p>
                </div>

                <!-- Experience sections that list jobs and other projects -->
                <div class="professional-experience" data-ng-controller='ExperienceController'>
                    <h1>Work Experience</h1>
                    <hr class='ts-divider'>
                    <div class='experience-instance' ng-repeat='experience in experiences'>
                        <img src="images/{{experience.id}}-logo.svg" alt="" class="experience-logo">
                        <p id='name'>{{experience.name}}</p>
                        <p id='role'>{{experience.role}}</p>
                        <p id='description'>{{experience.description}}</p>
                        <button class="see-more-details btn">See More Details</button>
                    </div>
                </div>
                <!-- Used to move everything pas the experience up -->
                <div class="post-experience">
                    <!-- Contac form -->
                    <div class="contact-form">
                        <h1 class='cta-headline'>Interested in working together?</h1>
                        <h4>I am available for freelance development work. Enter your email and details of your inquiry below.</h4>
                        <input type="text" class="user-info" placeholder='Name' maxlength="50">
                        <input type="text" class="user-info" placeholder='Email Address' maxlength="50">
                        <textarea type="text" rows='5' placeholder='Enter your message here...' maxlength="2000"></textarea>
                        <button class="submit btn">Submit</button>
                    </div>
                    <footer>
                        <div class='social-icons'>
                            <a href="#">
                                <img src="images/facebook.svg" alt="" class="social-icon">
                            </a>
                            <a href="#">
                                <img src="images/youtube.svg" alt="" class="social-icon">
                            </a>
                            <a href="#">
                                <img src="images/instagram.svg" alt="" class="social-icon">
                            </a>
                            <a href="#">
                                <img src="images/linkedin.svg" alt="" class="social-icon">
                            </a>
                        </div>
                        <h5>JOE MCNEAL &copy;2018</h5>
                    </footer>
                </div>
            </div>
        </div>
    </div>


    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src='js/app.js'></script>
</body>

</html>