<div class="row skill-set">
    <div class='skill-area col-sm-12 col-md-6 col-lg-4' ng-repeat='skillType in skillTypes'>
        <img ng-src="images/{{skillType.id}}.svg" alt="" class="skill-image">
        <h3>{{ skillType.name }}</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam ad soluta vitae ab labore obcaecati
            officia accusantium facere recusandae iure pariatur velit ipsa itaque voluptates quidem quibusdam,
            sequi maxime quos.</p>

        <i ng-click='show_skills=(show_skills ? false : true);' ng-class="rotate(show_skills)" id='expand'>expand_more</i>
        <p class='expand-label' ng-if='!show_skills'>Skills</p>
        <div ng-repeat="skill in skills | filter: id=skillType.id" class='skill-list' id='skill-list'>
            <div class="skill" ng-show='show_skills'>
                <div class=skill-name valign='center'> {{ skill.name }}</div>
                <div class="progress">
                    <div class="bar" ng-style="{width:({{ skill.percent }} - 5) + '%'}" id='bar'></div>
                    <span class="skill-percent">{{ skill.percent }}%</span>
                </div>
            </div>
        </div>
    </div>
</div>